[submodule "silly-sam/Simple-Tiled-Implementation"]
	path = silly-sam/Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule "silly-sam/hump"]
	path = silly-sam/hump
	url = https://github.com/vrld/hump.git
